In [21]:
### 1 st question
### Create a list containing five different fruits
###  and print the third fruit.
Different_Fruits=list()
Different_Fruits=['Apple','Apricot','Cherry','Orange','Ananas']
Different_Fruits[2]

'Cherry'

In [2]:
### 2 th question
### Create two lists of numbers 
### and concatenate them into a single list.
First_List_of_numbers=[2,4,6,7,9]
Second_List_of_numbers=[2,4,5,67,89]
First_List_of_numbers.extend(Second_List_of_numbers)
First_List_of_numbers

[2, 4, 6, 7, 9, 2, 4, 5, 67, 89]

In [15]:
## 3 th question
## Given a list of numbers, extract the first, middle,
#  and last elements and store them in a new list.
My_numbers=[1,6,8,4,9,34,56]
First_Number=My_numbers[0]
Middle_Index=len(My_numbers)//2
Middle_Number=My_numbers[Middle_Index]
Last_Number=My_numbers[-1]
Final_Result=[First_Number,Middle_Number,Last_Number]
print(Final_Result)

[1, 4, 56]

In [17]:
### 4 th question
### Create a list of your five favorite movies
#  and convert it into a tuple.
List_Movies=['Interstellar','Dark Knight','All quite in Western Front','Troy','Kingdom of Heaven']
New_tuple=tuple(List_Movies)
New_tuple

('Interstellar',
 'Dark Knight',
 'All quite in Western Front',
 'Troy',
 'Kingdom of Heaven')

In [19]:
## 5 th question
### Given a list of cities, check if "Paris" is in the list and print the result.
City_List=['Berlin','Tokyo','Tashkent','New York','Paris','London']
if 'Paris' in City_List:
    print("Paris exists in the list")
else:
    print("Paris does not exist in the list")

Paris exists in the list

In [20]:
### 6 th question
### Create a list of numbers and duplicate it without using loops.
New_Numbers=[2,5,6,87,98]
New_num=([2,5,6,87,98])*2
New_num

[2, 5, 6, 87, 98, 2, 5, 6, 87, 98]

In [21]:
### 7 th question
### Given a list of numbers, swap the first and last elements.
Selected_Numbers=[12,34,67,89,45]
numbers=Selected_Numbers[0]
Selected_Numbers[0]=Selected_Numbers[-1]
Selected_Numbers[-1]=numbers
print(Selected_Numbers)

[45, 34, 67, 89, 12]

In [44]:
## 8 th question
### Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.
my_tuple=(1,2,3,4,5,6,7,8,9,10)
my_tuple[3:7]

(4, 5, 6, 7)

In [45]:
### 9 th question
### Create a list of colors and count how many times "blue" appears in the list.
list_of_colours=['Blue','Red','Orange','Green','Blue','Yellow','Purple']
list_of_colours.count('Blue')

2

In [47]:
## 10 th question
### Given a tuple of animals, find the index of "lion".
tuple_of_animals=('owl','leopard','lion','wolf','fox')
tuple_of_animals.index('lion')

2

In [48]:
### 11 th question
### Create two tuples of numbers and merge them into a single tuple.
first_tuple=(1,2,3,4)
second_tuple=(5,6,7,8)
merged_tuple=first_tuple+second_tuple
print(merged_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [50]:
### 12 th question
### Given a list and a tuple, find and print their lengths.
list_of_Players=['Marco Reus','Mats hummels','Virgil Van Dayk']
tuple_of_countries=('Australia','USA')
players=len(list_of_Players)
countries=len(tuple_of_countries)
print(players)
print(countries)

3
2

In [51]:
### 13 th question
### Create a tuple of five numbers and convert it into a list.
Nums_tuple=(2,3,4,5,6)
list_of_nums=list(Nums_tuple)
list_of_nums

[2, 3, 4, 5, 6]

In [60]:
### 14 th question
### Given a tuple of numbers, find and print the maximum and minimum values.
my_count = (2, 5, 7, 8, 98, 57, 25)
max_number=max(my_count)
min_number=min(my_count)
print("Max value:", max_number)
print("Min value:", min_number)

Max value: 98
Min value: 2

In [57]:
## 15 th question
### Create a tuple of words and print it in reverse order.
word_tuple=('London','Urgench','Washington')
reveresed_word=sorted(word_tuple,reverse=True)
print(reveresed_word)

['Washington', 'Urgench', 'London']