In [ ]:
### 1 st question.
# Create a new database with a table named Roster that
#  has three fields: Name, Species, and Age.
#  The Name and Species columns should be text fields, and the Age column 
# should be an integer field.
import sqlite3


connection = sqlite3.connect("sample.db")
cursor=connection.cursor()
Roster="""Create table Roster (Name text,
                               Species text,
                               Age int)"""
cursor.execute(Roster)
connection.commit()
connection.close()

In [ ]:
### 2 nd question
#Populate your new table with the following values:
# Name	Species	Age
# Benjamin Sisko	Human	40
# Jadzia Dax	Trill	300
# Kira Nerys	Bajoran	29
import sqlite3

with sqlite3.connect("sample.db") as connection:
    try:
        Roster = """INSERT INTO Roster (Name, Species, Age) VALUES ("Benjamin Sisko", "Human", 30)"""
        cursor = connection.cursor()
        cursor.execute(Roster)
    except Exception as e:
        print(str(e))

In [7]:
import sqlite3

with sqlite3.connect("sample.db") as connection:
    cursor = connection.cursor()


    Roster = """drop table if exists Roster;
    create table Roster (Name text, Species text, Age int);
    insert into Roster values ("Benjamin Sisko", "Human", 30),("Jadzia Dax", "Trill", 300), ("Kira Nerys", "Bajoran", 29);
    """

    cursor.executescript(Roster)

In [ ]:
## 3 rd question. 
# Update the Name of Jadzia Dax to be Ezri Dax
cursor.execute("""
    UPDATE Roster
    SET Name = 'Ezri Dax'
    WHERE Name = 'Jadzia Dax';
""")

In [11]:
## 4 th question. 
# Display the Name and Age of everyone in the table classified as Bajoran.
cursor.execute("""
    SELECT Name, Age
    FROM Roster
    WHERE Species = 'Bajoran';
""")

bajoran_rows = cursor.fetchall()

for row in bajoran_rows:
    print(row)

('Kira Nerys', 29)