In [2]:

# You are given a dataset containing sales data for an e-commerce website. The dataset (task\sales_data.csv) has the following columns:

# Date: Date of the sale.
# Product: Name of the product sold.
# Category: Category to which the product belongs.
# Quantity: Number of units sold.
# Price: Price per unit.
#Tasks:
# 1 st question
#Group the data by the Category column and calculate the following aggregate statistics for each category:
#Total quantity sold.
#Average price per unit.
# Maximum quantity sold in a single transaction.
import pandas as pd
sale=pd.read_csv("sales_data.csv")
sale
sale.groupby("Category")["Quantity"].agg("sum")

Category
Clothing       157
Electronics    183
Home           144
Name: Quantity, dtype: int64

In [ ]:
#Average price per unit.
sale.groupby("Category")["Price"].agg("mean")

Category
Clothing        31.176471
Electronics    276.764706
Home            55.000000
Name: Price, dtype: float64

In [4]:
# Maximum quantity sold in a single transaction.
sale.groupby("Category")["Quantity"].agg("max")

Category
Clothing       15
Electronics    15
Home           14
Name: Quantity, dtype: int64

In [17]:
# 2 nd question
#Identify the top-selling product in each category based on the total quantity sold.

top_selling = sale.groupby(['Category', 'Product'])['Quantity'].sum().reset_index()
top_product_per_category = top_selling.loc[top_selling.groupby('Category')['Quantity'].idxmax()]
top_product_per_category

       Category          Product  Quantity
8      Clothing            Jeans        15
27  Electronics         Smart TV        15
46         Home  Pressure Cooker        14

In [18]:
#3 rd question
# Find the date on which the highest total sales (quantity * price) occurred.
sale['Total_Sales'] = sale['Quantity'] * sale['Price']

daily_sales = sale.groupby('Date')['Total_Sales'].sum()

date_max_sales = daily_sales.idxmax()
max_sales_value = daily_sales.max()

print(f"The date with the highest total sales is {date_max_sales} with sales amount {max_sales_value}")

The date with the highest total sales is 2023-01-07 with sales amount 15150

In [ ]:
# Homework Assignment 2: Examining Customer Orders
#You have a dataset (task\customer_orders.csv) containing information about customer orders. The dataset has the following columns:

#OrderID: Unique identifier for each order.
# CustomerID: Unique identifier for each customer.
# Product: Name of the product ordered.
# Quantity: Number of units ordered.
# Price: Price per unit.
# Tasks:
# 
# 1 st question
# Group the data by CustomerID and filter out customers who have made less than 20 orders.
import pandas as pd
customer=pd.read_csv("customer_orders.csv")
customer
counts=customer.groupby("CustomerID")["OrderID"].agg("count")

customers_20_plus=counts[counts>=20]

print(customers_20_plus)
# Filter the original DataFrame
#filtered_df = df[df['CustomerID'].isin(customers_20_plus)]

CustomerID
101    21
102    21
103    20
104    20
Name: OrderID, dtype: int64

In [33]:
# 2 nd question
# Identify customers who have ordered products with an average price per unit greater than $120.
customer['UnitPrice'] = customer['Price'] / customer['Quantity']

avg_unit_price = customer.groupby('CustomerID')['UnitPrice'].mean()

high_value_customers = avg_unit_price[avg_unit_price > 120]

print(high_value_customers)

CustomerID
102    125.595238
104    155.750000
Name: UnitPrice, dtype: float64

In [53]:
#3 rd question
#  Find the total quantity and total price for each product ordered,
#  and filter out products that have a total quantity less than 5 units.
product_summary = customer.groupby('Product').agg({
    'Quantity': 'sum',
    'Price': 'sum'
}).reset_index()

# Step 2: Filter out products with total quantity < 5
filtered_products = product_summary[product_summary['Quantity'] >= 5]

# Step 3: Display result
print(filtered_products)

             Product  Quantity  Price
5        Cargo Pants         6    120
15       Dress Shirt         5     50
19      Formal Shirt         6    105
30        Smartphone         5    800
32       Sport Shoes         5    120
35        Sunglasses         5     60
41  Wireless Earbuds         6    360

In [11]:
# Homework Assignment 3: Population Salary Analysis

# 1 st 
# "task\population.db" sqlite database has population table.
# 2 nd 
# "task\population salary analysis.xlsx" file defines Salary Band categories.
# Read the data from population table and calculate following measures:

import sqlite3

# Replace 'mydata.db' with the actual file name
connection = sqlite3.connect('population.db')

# Create a cursor object to execute SQL commands
cursor = connection.cursor()

# Example: Fetch all rows from a table
cursor.execute("""Select * from population""")  # replace with your actual table name
rows = cursor.fetchall()

# Print the rows
for row in rows:
    print(row)

# Always close the connection
connection.commit()
connection.close()
# Percentage of population for each salary category;
# Average salary in each salary category;
# Median salary in each salary category;
# Number of population in each salary category;

OperationalError: no such table: population

In [ ]:
# 3 rd 
# Calculate the same measures in each State


#Note: Use SQL only to select data from database. All the other calculations should be done in python.